# These correspond to the Auth0 configuration variables defined here: 
# For Docker Compose: https://github.com/voxel51/fiftyone-teams-app-deploy/blob/3c063ba3e72b19df28e331b9353be1cde35829d0/docker/legacy-auth/env.template#L1
# For Kubernetes: https://github.com/voxel51/fiftyone-teams-app-deploy/blob/3c063ba3e72b19df28e331b9353be1cde35829d0/helm/values.yaml#L17
# Note that the AUTH0_MGMT_* variables here map to the AUTH0_API_*/apiClient* variables in the links above
AUTH0_AUDIENCE=
AUTH0_DOMAIN=
AUTH0_MGMT_CLIENT_ID=
AUTH0_MGMT_CLIENT_SECRET=
AUTH0_ORGANIZATION=

CAS_BASE_URL=

MAX_HTTP_RETRIES=10

FIFTYONE_AUTH_SECRET=
